@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, Arial, Sans-Serif;
  background-color: #1b2631;
  background-image: url('../image/images.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachement: fixed;
  object-fit: cover;
}

h1,h2 {
  line-height: 1.6;
  margin: 5px 0;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
}

p {
  letter-spacing: 2px;
  color: #fff;
}

.container {
  width: 100%;
  padding: 20px 40px;
  height: auto;
}

/*Section*/
.hero {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* logo */
.logo {
  animation: slideLeft 2s ease-in;
}

.logo p {
  font-size: 15px;
}

/* Divider line */
.line {
  width: 100%;
  height: 2px;
  background-color: orange;
}

/* showcase */
.showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcase h1 {
  color: orange;
  font-weight: bolder;
  letter-spacing: 0.2px;
  animation: grow 4s infinite;
}

.showcase .big {
  font-size: 7rem;
}

.showcase .small {
  font-size: 5.8rem;
}

.showcase p {
  margin-top: -7rem;
  font-size: 30px;
  color: #fff;
  animation: slideLeft 2s ease-in;
  font-weight: 600;
}

/* About */
.about {
  margin: 80px 0;
  animation: slideLeft 2s ease-in;
}

.about h2 {
  font-size: 60px;
}

.about p {
  width: 400px;
  line-height: 1.2;
  text-align: justify;
  color: #fff;
  letter-spacing: 0.9px;
  line-height: 1.5;
}

/* Button */
.button {
  float: right;
  margin-top: -180px;
  animation: slideRight 2s ease-in;
}

.button a {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 2em;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  color: #000;
}

.button .fb {
  margin: 10px 0;
}

.button a:hover{
  background-color: darkgreen;
  color: #fff;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%
}

.footer p {
  font-size: 15px;
  animation: slideLeft 2s ease-in;
}

.footer a {
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}

/* Animation */
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  
  50% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  
  50% {
    transform: translateX(0);
  }
}

@keyframes grow {
  50% {
    transform: translate(-5px) scale(1.1);
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 20px 20px;
  }
  
  .hero {
    height: auto;
    width: 100%;
  }
  
  .showcase {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } 
  
  .showcase h1 {
    margin: 20px 0;
  }
  
  .showcase p {
    font-size: 15px;
    margin-top: -25px;
    margin-left: auto;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center
    align-items: center;
    height: auto;
    margin-top: -5em;
    padding: 70px 0;
  }
  
  .about h2 {
    font-size: 30px;
    text-align: center;
  }
  
  .about p {
    width: auto;
  }
  
  .button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 45px 0;
    top: -100rem;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
}
