* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  /*scroll-snap-type: y mandatory;*/
}

body {
  font-family: Arial,Helvetica,Sans-Serif;
  color: #333;
}

h1,h2,p {
  margin: 5px 0;
}

h1,h2 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
}

p {
  line-height: 1.6;
  word-spacing: 2px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

/* Utilities */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

/*section {
  scroll-snap-align: center;
}*/

/* Navbar */
.navbar {
  height: 60px;
  width: 100%;
  background-color: rgb(30, 132, 73, 1.0);
  color: #fff;
  top: 0;
  position: fixed;
  z-index: 1;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li a {
  color: #fff;
  margin: 0 15px;
  transition: 0.3s;
  cursor: pointer;
  padding: 5px 0;
}

.navbar .flex{
  justify-content: space-between;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

/* Showcase */
.showcase {
  height: auto;
  overflow: auto;
  position: relative;
  padding: 40px 0;
}

.showcase .flex {
  justify-content: space-between;
}

.showcase .showcase-img {
  margin-top: 50px;
}

.showcase img {
  width: 300px;
}

.showcase p {
  text-align: justify;
  width: 400px;
}

.showcase a {
  border: 1px solid darkgreen;
  padding: 6px 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.showcase-text {
  animation: slideLeft 2s ease-in;
}

.showcase .showcase-img {
  animation: slideRight 2s ease-in;
}

.showcase a:hover{
  background-color: darkgreen;
  color: #fff;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  
  50% {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  
  50% {
    transform: translateX(0);
  }
}

/* Gallary */
.gallary {
  position: relative;
  height: auto;
  padding: 40px 0;
  overflow: auto;
  background-color: #212f3c;
  color: #fff;
}

.gallary a {
  color: #fff;
  background-color: darkgreen;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.gallary img {
  width: 100%;
  margin: 10px 0;
  height: 200px;
  transition: 0.5s;
}

.image > a {
  background-color: none;
}

.gallary .grid {
  grid-template-columns: 2fr 2fr;
}

.gallary img:hover {
  transform: scale(1.1);
}

.gallary
.image,
.image-1,
.image-2,
.image-3,
.image-4,
.image-5,
.image-6,
.image-7,
.image-8,
.image-9,
.image-10,
.image-11{
  animation: slideUp 2s ease-in;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  
  50% {
    transform: translateY(0);
  }
}

/* News */
.news {
  height: auto;
  position: relative;
  padding: 40px 0;
}

.news .grid {
  grid-template-columns: repeat(3,1fr);
}

.news h1 {
  text-align: center;
}

.news p {
  text-align: justify;
  width: 300px;
}

/* Footer */
.footer {
  height: auto;
  position: relative;
  padding: 40px 0;
  background-color: #212f3c;
  color: #fff;
}

/* Mobile Display */
@media screen and (max-width: 500px) {
  .showcase,
  .gallary,
  .news,
  .footer {
    width: 100%;
  }
  /* Navbar */
  .navbar {
    width: 100%;
    height: auto;
    padding: 20px 0;
    top: 0;
    position: fixed;
    z-index: 1;
  }
  
  .navbar .flex {
    justify-content: center;
    flex-direction: column;
  }
  
  .navbar h1 {
    font-size: 40px;
  }
  
  .navbar ul {
    background-color: rgb(0,0,0,0.7);
    padding: 10px 0;
  }
  
  /* Showcase */
  .showcase {
    margin-top: 40%;
  }
  
  .showcase h1 {
    font-size: 23px;
  }
  
  .showcase p {
    width: auto;
  }
  
  .showcase .showcase-img {
    display: none;
  }
  
  .showcase .flex {
    flex-direction: column;
  }
  
  /* Gallary */
  .gallary .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
  /* News */
  .news {
    height: auto;
  }
  
  .news .grid {
    grid-template-columns: repeat(1,1fr);
  }
  
}

/* Tablet */
@media screen and (min-width: 760px) {
  .navbar {
    width: 100%;
    height: auto;
    overflow: auto;
  }
  
  .showcase {
    width: 100%;
    overflow: auto;
  }
}